body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

/* Header */
.header {
  background: #333;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}

/* Main */
.main {
  padding: 40px;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #274bdb;
}

/* Footer */
.footer {
  background: #222;
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: 40px;
}
